<p id="notice"><%= notice %></p>

<% content_for :title, 'Tool Listing' %>
<%= form_tag(tools_path, :method => "get", id: "search-form", name: 'searchform') do %>
    <fieldset>
      <legend>Search Criteria</legend>
      <div class="input-float-label">
        <%= text_field_tag 'search[search_text]', @search.nil? ? nil : @search.search_text,
                           class: 'small-6', placeholder: 'enter a word or words to search' %>
        <label for="search[search_text]">Search text:</label>
      </div>
      <fieldset class="large-12 columns push-buttons">
        <legend>filter by functional area</legend>
        <%= collection_check_boxes :search, :area, CodeValue.where(code_table: 'func-area'),
                                   :code, :print_name %>
      </fieldset>
      <fieldset class="large-10 columns push-buttons">
        <legend>filter by product</legend>
        <%= collection_check_boxes :search, :product, CodeValue.where(code_table: 'product'),
                                   :code, :print_name %>
      </fieldset>
      <div class="large-2 columns send-search">
        <%= submit_tag "Search", :name => nil, id: 'sub-btn', class: 'button right search-button' %>
      </div>
    </fieldset>
<% end %>

<p class="comment large-8 columns">Found <%= pluralize(@tools.count, 'record')  %></p>
<p class="large-4 columns right"><%= link_to 'Submit new Tool', 'http://wiki.hl7.org/images/8/87/Template_For_Submission_version02.xlsx' %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tool Functional Areas</th>
      <th>HL7 Product</th>
      <th class="list-hdr">Internal (<%= image_tag 'Checkmark-green-lite.png' %>) /
        Core (<%= image_tag 'core-icon.png' %>)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td>
          <% if tool.active -%>
              <%= truncate_words(tool.name, 50, '...') %>
          <% else -%>
              <span class="inactive"><%=truncate_words(tool.name, 50, '...') %></span>
          <% end -%>
          </td>
        <td><% if tool.functional_tags.count > 0 -%>
          <ul class="tag-list">
            <% tool.functional_tags.each do |tag| -%>
            <li><%= tag %></li>
            <% end -%>
          </ul>
          <% end -%></td>
        <td><% if tool.product_tags.count > 0 -%>
              <ul class="tag-list">
                <% tool.product_tags.each do |tag| -%>
                    <li><%= tag %></li>
                <% end -%>
              </ul>
          <% end -%></td>
        <td>
          <div class="centered list-image">
            <% if tool.internal -%>
                <%= image_tag 'Checkmark-green-lite.png' %>
            <% end -%>
            <% if tool.core_process -%>
                <%= image_tag 'core-icon.png' %>
            <% end -%>
          </div>
        </td>
        <td>
          <%= link_to(tool, class: 'detail-link') do %>
          <span class="article-detail">Detail</span><span class="link-pointer"> &#x3e;</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if is_admin? -%>
<%= link_to 'Add New Tool', new_tool_path %>
<% end -%>

<script>
  $( document ).ready(function() {
    $(function () {
      var showClass = 'show';

      $('input').on('checkval', function () {
        var label = $(this).prev('label');
        if (this.value !== '') {
          label.addClass(showClass);
        } else {
          label.removeClass(showClass);
        }
      }).on('keyup', function () {
        $(this).trigger('checkval');
      });
    });
  });
</script>