<p id="notice"><%= notice %></p>

<% content_for :title, @tool.name %>

<p>
  <% if @tool.url -%>
      <%= link_to 'Tool Homepage', @tool.url %>
  <% else -%>
      <span class="comment">No homepage specified</span>
  <% end -%>
  <% if @tool.support_url -%>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Tool Issues', @tool.support_url %>
  <% end -%>
</p>

<p>
  <%= @tool.description %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @tool.purpose %>
</p>

<p>
  <strong>Product Family:</strong>
<% if @tool.product_tags.count > 0 -%>
  <ul class="tag-list">
    <% @tool.product_tags.each do |tag| -%>
    <li><%= tag %></li>
    <% end -%>
  </ul>
<% end -%>
</p>

<p>
  <strong>HL7 Functional Areas:</strong>
<% if @tool.functional_tags.count > 0 -%>
  <ul class="tag-list">
    <% @tool.functional_tags.each do |tag| -%>
    <li><%= tag %></li>
    <% end -%>
  </ul>
<% end -%>
</p>

<p><strong>Technologies:</strong></p>
<ul>
  <% @tool.tool_technologies.each do |tech| -%>
  <li><%= tech.tech_code_value.print_name %> <%= tech.tech_version %></li>
  <% end -%>
</ul>

<p><strong>Dependencies:</strong></p>
<ul>
  <% @tool.tool_dependencies.each do |depend| -%>
      <li><strong><%= depend.dependency.name %></strong> <%= depend.note %></li>
  <% end -%>
</ul>


<table>
  <thead>
  <tr>
    <th>Version</th>
    <th>Rollout Date</th>
    <th>Last Update</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @tool.version %></td>
    <td><%= @tool.rollout_date %></td>
    <td><%= @tool.last_update_date %></td>
  </tr>
  </tbody>
</table>

<p><strong>Assessment:</strong></p>
<div class="meter-container">
  <section class="vertical-meter">
    <input id="risk" disabled="true" type='range' min='0' max='100' step='5' value='60' orient="vertical"/>
  </section>
  <section class="vertical-meter">
    <input disabled="true" type='range' min='0' max='100' step='5' value='50'/>
  </section>
  <section class="vertical-meter">
    <input disabled="true" type='range' min='0' max='100' step='5' value='25'/>
  </section>
  <section class="vertical-meter">
    <input disabled="true" type='range' min='0' max='100' step='5' value='85'/>
  </section>
</div>

<p><strong>People and Organizations associated with <%= @tool.name %>:</strong></p>
<% if @tool.tool_persons.count > 0 -%>
<ul>
<% @tool.tool_persons.each do |person| -%>
  <li>
    <p>
    <%= person.person_org.name %>
      -<%= person.role_code_value.print_name %>-
      <% if person.person_org.contact_phone || person.person_org.contact_email -%>
      (<%= person.person_org.contact_phone %>
      <%= person.person_org.contact_phone && person.person_org.contact_email ? ' | ' : '' %>
          <%= person.person_org.contact_email %>)
      <% end -%>
    </p>
  </li>
<% end -%>
</ul>
<% else -%>
    <p>none identified</p>
<% end -%>
<p>
  <strong>Notes:</strong>
  <% if @tool.tool_notes.count > 0 -%>
  <ul>
    <% @tool.tool_notes.each do |note| -%>
    <li class="note">
      <p>
        <span class="note-date"><%= note.note_date %></span>
        (<span class="note-author"><%= note.author %></span>)
        <%= note.note %>
      </p>
    </li>
    <% end -%>
  </ul>
  <% end -%>
</p>

<p>
  <strong>Known Users of the <%= @tool.name %></strong>
  <% if @tool.tool_users.count > 0 -%>
  <% end -%>
</p>

  <% if is_admin? %><%= link_to 'Edit', edit_tool_path(@tool) %> |<% end %>
<%= link_to 'Back', tools_path %>

