<p id="notice"><%= notice %></p>

<% content_for :title, @tool.name %>

<%= link_to 'Return to Tool Listing', tools_path %>

<p>
  <% if @tool.url -%>
      <%= link_to 'Link to Tool Homepage', @tool.url %>
  <% else -%>
      <span class="comment">No homepage specified</span>
  <% end -%>
  <% if @tool.support_url -%>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Link to Tool Issues', @tool.support_url %>
  <% end -%>
</p>

<% unless @tool.active -%>
<p class="important-notice">This tool is not active</p>
<% end -%>
<p>
  <%= @tool.description %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @tool.purpose %>
</p>

<% if @tool.aka -%>
    <p>
      <strong>Also Known As:</strong>
      <%= @tool.aka %>
    </p>
<% end -%>
<p>
  <strong>Product Family:</strong>
<% if @tool.product_tags.count > 0 -%>
  <ul class="tag-list">
    <% @tool.product_tags.each do |tag| -%>
    <li><%= tag %></li>
    <% end -%>
  </ul>
<% else %>
    - not associated with any HL7 product family
<% end -%>
</p>

<p>
  <strong>HL7 Functional Areas:</strong>
<% if @tool.functional_tags.count > 0 -%>
  <ul class="tag-list">
    <% @tool.functional_tags.each do |tag| -%>
    <li><%= tag %></li>
    <% end -%>
  </ul>
<% else -%>
    - does not support HL7 functions
<% end -%>
</p>

<p><strong>Technologies:</strong>
<% if @tool.tool_technologies.count > 0 -%>
<ul>
  <% @tool.tool_technologies.each do |tech| -%>
  <li><%= tech.tech_code_value.print_name %> <%= tech.tech_version %></li>
  <% end -%>
</ul>
<% else -%>
    - not specified
<% end -%>
</p>

<% if @tool.tool_dependencies.count > 0 -%>
<p><strong>Dependencies:</strong></p>
<ul>
  <% @tool.tool_dependencies.each do |depend| -%>
      <li><strong><%= depend.dependency.name %></strong> <%= depend.note %></li>
  <% end -%>
</ul>
<% end -%>

<table>
  <thead>
  <tr>
    <th>Version</th>
    <th>Rollout Date</th>
    <th>Last Update</th>
    <th>License</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @tool.version %></td>
    <td><%= @tool.rollout_date %></td>
    <td><%= @tool.last_update_date %></td>
    <td><%= (@tool.license_name ? @tool.license_name : 'unspecified')  %></td>
  </tr>
  </tbody>
</table>

<% if @tool.active && @tool.tool_assessments.count > 0 -%>
    <% assess = @tool.last_assessment -%>
<p><strong>Assessment:</strong> (done: <%= assess.assessment_date %>)</p>
<div class="meter-container">
  <section class="vertical-meter">
    <input id="risk" disabled="true" type='range' min='0' max='100' step='5' value='<%= assess.risk %>' orient="vertical"/>
  </section>
  <section class="vertical-meter">
    <input disabled="true" type='range' min='0' max='100' step='5' value='<%= assess.quality %>'/>
  </section>
  <section class="vertical-meter">
    <input disabled="true" type='range' min='0' max='100' step='5' value='<%= assess.sustainability %>'/>
  </section>
  <section class="vertical-meter">
    <input disabled="true" type='range' min='0' max='100' step='5' value='<%= assess.usability %>'/>
  </section>
</div>
    <div id="wrapper">
      <svg id="meter">
        <circle id="outline_curves" class="circle outline"  cx="50%" cy="50%">
        </circle>
        <circle id="low" class="circle range" cx="50%" cy="50%" stroke="#E04644">
        </circle>
        <circle id="avg" class="circle range" cx="50%" cy="50%" stroke="#FDE47F">
        </circle>
        <circle id="high" class="circle range" cx="50%" cy="50%" stroke="#7CCCE5">
        </circle>
        <circle id="mask" class="circle" cx="50%" cy="50%" >
        </circle>
        <circle id="outline_ends" class="circle outline" cx="50%" cy="50%">
        </circle>
      </svg>
      <%= image_tag 'svg-meter-gauge-needle.svg', id: 'meter_needle' %>
      <input type="hidden" id="meter-value" value="<%= (assess.risk + assess.quality + assess.sustainability + assess.usability) / 4 %>">
    </div>
<% end -%>

<p><strong>People and Organizations associated with <%= @tool.name %>:</strong></p>
<% if @tool.tool_persons.count > 0 -%>
<ul>
<% @tool.tool_persons.each do |person| -%>
  <li>
    <p>
    <%= person.person_org.name %>
      -<%= person.role_list.join('/') %>-
      <% if person.person_org.contact_phone || person.person_org.contact_email -%>
      (<%= person.person_org.contact_phone ? person.person_org.contact_phone : '' %>
      <%= person.person_org.contact_phone && person.person_org.contact_email ? ' | ' : '' %>
          <%= person.person_org.contact_email %>)
      <% end -%>
    </p>
  </li>
<% end -%>
</ul>
<% else -%>
    <p>none identified</p>
<% end -%>
<% if @tool.tool_notes.count > 0 -%>
<p>
  <strong>Notes:</strong>
  <ul>
    <% @tool.tool_notes.each do |note| -%>
    <li class="note">
      <p>
        <span class="note-date"><%= note.note_date %></span>
        (<span class="note-author"><%= note.author %></span>)
        <%= note.note %>
      </p>
    </li>
    <% end -%>
  </ul>
</p>
<% end -%>

<% if @tool.tool_users.count > 0 -%>
<p>
  <strong>Known Users of the <%= @tool.name %></strong>
  <ul>
    <% @tool.tool_users.each do |user| -%>
    <li><% if user.is_link? -%>
          <%= link_to 'external users list', user.external_list %>
        <% else -%>
          <%= user.name_of_user %>
        <% end -%></li>
    <% end -%>
  </ul>
</p>
<% end -%>

<% if is_admin? %>
    <%= link_to 'Edit', edit_tool_path(@tool) %> |
    <%= link_to 'Add New Assessment', new_tool_tool_assessment_path(@tool) %> |
    <%= link_to 'Add New Dependency', new_tool_tool_dependency_path(@tool) %> |
    <%= link_to 'Add New Note', new_tool_tool_note_path(@tool) %> |
    <%= link_to 'Add Responsible Toolsmith', new_tool_tool_person_path(@tool) %> |
    <%= link_to 'Add New Technology', new_tool_tool_technology_path(@tool) %> |
    <%= link_to 'Add New Tool User', new_tool_tool_user_path(@tool) %>
<% end %>

<script>
  var r = 400;
  var circles = document.querySelectorAll('.circle');
  var total_circles = circles.length;
  if total_circles > 0 {
    for (var i = 0; i < total_circles; i++) {
      circles[i].setAttribute('r', r);
    }
    /* set meter's wrapper dimension */
    var meter_dimension = (r * 2) + 100;
    var wrapper = document.querySelector('#wrapper');
    wrapper.style.width = meter_dimension + 'px';
    wrapper.style.height = meter_dimension + 'px';
    /* add strokes to circles  */
    var cf = 2 * Math.PI * r;
    var semi_cf = cf / 2;
    var semi_cf_1by3 = semi_cf / 3;
    var semi_cf_2by3 = semi_cf_1by3 * 2;
    document.querySelector('#outline_curves')
        .setAttribute('stroke-dasharray', semi_cf + ',' + cf);
    document.querySelector('#low')
        .setAttribute('stroke-dasharray', semi_cf + ',' + cf);
    document.querySelector('#avg')
        .setAttribute('stroke-dasharray', semi_cf_2by3 + ',' + cf);
    document.querySelector('#high')
        .setAttribute('stroke-dasharray', semi_cf_1by3 + ',' + cf);
    document.querySelector('#outline_ends')
        .setAttribute('stroke-dasharray', 2 + ',' + (semi_cf - 2));
    document.querySelector('#mask')
        .setAttribute('stroke-dasharray', semi_cf + ',' + cf);
    /*bind range slider event*/
    var slider = document.querySelector('#meter-value');
    var mask = document.querySelector('#mask');
    var meter_needle = document.querySelector('#meter_needle');
    var percent = slider.value;
    var meter_value = semi_cf - ((percent * semi_cf) / 100);
    mask.setAttribute('stroke-dasharray', meter_value + ',' + cf);
    meter_needle.style.transform = 'rotate(' + (270 + ((percent * 180) / 100)) + 'deg)';
  }
</script>