<p id="notice"><%= notice %></p>

<% content_for :title, @tool.name %>

<%= link_to 'Return to Tool Listing', tools_path %>

<p>
  <% if @tool.url -%>
      <%= link_to 'Link to Tool Homepage', @tool.url %>
  <% else -%>
      <span class="comment">No homepage specified</span>
  <% end -%>
  <% if @tool.support_url -%>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Link to Tool Issues', @tool.support_url %>
  <% end -%>
</p>

<% unless @tool.active -%>
<p class="important-notice">This tool is not active</p>
<% end -%>

<% if @tool.aka -%>
    <p>
      <strong>Also Known As:</strong>
      <%= @tool.aka %>
    </p>
<% end -%>
<%= simple_format(@tool.description) %>

<p>
  <strong>Purpose:</strong>
  <%= @tool.purpose %>
</p>

<p>
  <strong>Product Family:</strong>
<% if @tool.product_tags.count > 0 -%>
  <ul class="tag-list">
    <% @tool.product_tags.each do |tag| -%>
    <li><%= tag %></li>
    <% end -%>
  </ul>
<% else %>
    - not associated with any HL7 product family
<% end -%>
</p>

<p>
  <strong>HL7 Functional Areas:</strong>
<% if @tool.functional_tags.count > 0 -%>
  <ul class="tag-list">
    <% @tool.functional_tags.each do |tag| -%>
    <li><%= tag %></li>
    <% end -%>
  </ul>
<% else -%>
    - does not support HL7 functions
<% end -%>
</p>

<p><strong>Technologies:</strong>
<% if @tool.tool_technologies.count > 0 -%>
<ul>
  <% @tool.tool_technologies.each do |tech| -%>
  <li><%= tech.tech_code_value.print_name %> <%= tech.tech_version %></li>
  <% end -%>
</ul>
<% else -%>
    - not specified
<% end -%>
</p>

<% if @tool.tool_dependencies.count > 0 -%>
<p><strong>Dependencies:</strong></p>
<ul>
  <% @tool.tool_dependencies.each do |depend| -%>
      <li><strong><%= depend.dependency.name %></strong> <%= depend.note %></li>
  <% end -%>
</ul>
<% end -%>

<table>
  <thead>
  <tr>
    <th>Version</th>
    <th>Rollout Date</th>
    <th>Last Update</th>
    <th>License</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @tool.version %></td>
    <td><%= @tool.rollout_date %></td>
    <td><%= @tool.last_update_date %></td>
    <td><%= (@tool.license_name ? @tool.license_name : 'unspecified')  %></td>
  </tr>
  </tbody>
</table>

<% if @tool.active && @tool.tool_assessments.count > 0 -%>
    <% assess = @tool.last_assessment -%>
<p><strong>Assessment:</strong> (done: <%= assess.assessment_date %>)</p>
    <input type="hidden" id="meter-value" value="<%= (assess.risk + assess.quality + assess.sustainability + assess.usability) / 4 %>">

<div style="height: 320px; width: 320px">
  <svg style="height: 100%; width: 100%; transform: rotateX(180deg);">
    <circle id="outline_curves" r="130" cx="50%" cy="50%" stroke="#000" stroke-width="45"
            stroke-dasharray="408, 817" fill="none"></circle>
    <circle id="low" r="130" cx="50%" cy="50%" stroke="#E04644" stroke-width="40"
            stroke-dasharray="408, 817" fill="none"></circle>
    <circle id="mid" r="130" cx="50%" cy="50%" stroke="#FDE47F" stroke-width="40"
            stroke-dasharray="272, 817" fill="none"></circle>
    <circle id="hi" r="130" cx="50%" cy="50%" stroke="#32CD32" stroke-width="40"
            stroke-dasharray="136, 817" fill="none"></circle>
    <!--<circle id="mask" r="130" cx="50%" cy="50%" stroke="#f6f6f6"
            stroke-width="40" stroke-dasharray="50, 817" fill="none">-->
    </circle>
    <!-- Outline Ends -->
    <circle id="outline_ends" r="130" cx="50%" cy="50%" stroke="#000"
            stroke-width="45" stroke-dasharray="1, 408" fill="none"></circle>
    <circle id="needle-centre" r="12" cx="50%" cy="50%" stroke="#000" stroke-width="3" />
    <polygon points="<%= needle_path((assess.risk + assess.quality + assess.sustainability + assess.usability) / 4) %>"></polygon>
  </svg>

</div>
<% end -%>

<p><strong>People and Organizations associated with <%= @tool.name %>:</strong></p>
<% if @tool.tool_persons.count > 0 -%>
<ul>
<% @tool.tool_persons.each do |person| -%>
  <li>
    <p>
    <%= person.person_org.name %>
      -<%= person.role_list.join('/') %>-
      <% if person.person_org.contact_phone || person.person_org.contact_email -%>
      (<%= person.person_org.contact_phone ? person.person_org.contact_phone : '' %>
      <%= person.person_org.contact_phone && person.person_org.contact_email ? ' | ' : '' %>
          <%= person.person_org.contact_email %>)
      <% end -%>
    </p>
  </li>
<% end -%>
</ul>
<% else -%>
    <p>none identified</p>
<% end -%>
<% if @tool.tool_notes.count > 0 -%>
<p>
  <strong>Notes:</strong>
  <ul>
    <% @tool.tool_notes.each do |note| -%>
    <li class="note">
      <p>
        <span class="note-date"><%= note.note_date %></span>
        (<span class="note-author"><%= note.author %></span>)
        <%= note.note %>
      </p>
    </li>
    <% end -%>
  </ul>
</p>
<% end -%>

<% if @tool.tool_users.count > 0 -%>
<p>
  <strong>Known Users of the <%= @tool.name %></strong>
  <ul>
    <% @tool.tool_users.each do |user| -%>
    <li><% if user.is_link? -%>
          <%= link_to 'external users list', user.external_list %>
        <% else -%>
          <%= user.name_of_user %>
        <% end -%></li>
    <% end -%>
  </ul>
</p>
<% end -%>

<% if is_admin? %>
    <%= link_to 'Edit', edit_tool_path(@tool) %> |
    <%= link_to 'Add New Assessment', new_tool_tool_assessment_path(@tool) %> |
    <%= link_to 'Add New Dependency', new_tool_tool_dependency_path(@tool) %> |
    <%= link_to 'Add New Note', new_tool_tool_note_path(@tool) %> |
    <%= link_to 'Add Responsible Toolsmith', new_tool_tool_person_path(@tool) %> |
    <%= link_to 'Add New Technology', new_tool_tool_technology_path(@tool) %> |
    <%= link_to 'Add New Tool User', new_tool_tool_user_path(@tool) %>
<% end %>
