<%= form_for([@tool, @tool_person], builder: ApplicationFormBuilder) do |f| %>
    <%= f.error_block %>

    <%= f.collection_select :person_org_id, PersonOrg.all, :id, :name, label: 'Person or Organization:' %>
    <%= f.collection_check_boxes :role, CodeValue.where(code_table: 'role'), :code, :print_name %>

    <div class="field">
      <label class="main-label" for="tool_person_activity">Activity Level:</label>
      <div class="field-entry">
        <div class="range">
          <input type="range" min="0" max="10" steps="1" value="0" id="tool_person_activity" name="tool_person[activity]">
        </div>

        <ul class="range-labels">
          <% ToolPerson::ACTIVE_LEVEL.each_with_index do |level, indx| %>
              <li <%= indx == f.record.activity ? 'class="active selected"' : '' %>><%= level %></li>
          <% end -%>
        </ul>
      </div>
    </div>

    <div class="field" style="height: 40px">&nbsp;</div>
    <%= f.text_area  :notes %>
    <%= f.hidden_field :updated_at, value: Date.today %>

    <% if f.record.new_record? -%>
        <%= f.buttons cancel: @tool %>
    <% else -%>
        <%= f.buttons cancel: @tool %>
    <% end -%>
<% end %>


<script>
  var sheet = document.createElement('style'),
      $rangeInput = $('.range input'),
      prefs = ['webkit-slider-runnable-track', 'moz-range-track', 'ms-track'];

  document.body.appendChild(sheet);

  var getTrackStyle = function (el) {
    var curVal = el.value,
        val = (curVal - 1) * 10,
        style = '';

    // Set active label
    $('.range-labels li').removeClass('active selected');

    var curLabel = $('.range-labels').find('li:nth-child(' + curVal + ')');

    curLabel.addClass('active selected');
    curLabel.prevAll().addClass('selected');

    // Change background gradient
    for (var i = 0; i < prefs.length; i++) {
      style += '.range {background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #fff ' + val + '%, #fff 100%)}';
      style += '.range input::-' + prefs[i] + '{background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #b2b2b2 ' + val + '%, #b2b2b2 100%)}';
    }

    return style;
  }

  $rangeInput.on('input', function () {
    sheet.textContent = getTrackStyle(this);
  });

  // Change input value on label click
  $('.range-labels li').on('click', function () {
    var index = $(this).index();

    $rangeInput.val(index + 1).trigger('input');

  });
</script>